.DS_Store
.bundle
.sass-cache
bower.json.tmp
Gemfile.lock
vendor
node_modules
coverage
public/vendor/*
public/js/*
!public/js/empty
public/css/*
!public/css/empty
public/docs/js/*
!public/docs/js/empty
public/docs/manual/*
!public/docs/manual/empty
public/docs/css/*
!public/docs/css/empty
public/test/*
!public/test/empty
public/spec/*
!public/spec/empty
