.DS_Store
.bundle
.sass-cache
Gemfile.lock
vendor
node_modules
coverage
public/vendor/*
public/js/*
!public/js/empty
public/css/*
!public/css/empty
public/docs/*
!public/docs/empty
public/test/*
!public/test/empty
public/spec/*
!public/spec/empty
